* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(./images/pantai.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#bgjdl{
  padding: 30px;
  color: white;
  text-align: center;
  border: 2px solid black;
  background-image: url(./images/desktop.jpg);
  background-size:cover;
  width: 1000px;
  box-shadow: 0 5px 30px black;
  margin-right: 140px;
}

#bgjdl h1{
  background-color: black;
  /* background-color: transparent; */
  /* background: linear-gradient(red black); */
  box-shadow: 0 5px 30px black;
  padding: 5px;
}

#bgjdl p{
  background-color: black;
  /* background-color: transparent; */
  box-shadow: 0 5px 30px black;
  text-align: left;
  font-weight: bold;
}

.rct{
  font-weight: bold;
  color: #61DBFB;
}

.my {
  font-weight: bold;
  color: #6495ED;
}

.sql {
  color: orange;
}

#jdl{
  line-height: 40px;
  text-align: center;
  margin-left: -30px;
}

.container{
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100vh;
}
h4{
  color: white;
  padding: 20px;
}

.form{
  width: 350px;
  height: 430px;
  background-color: rgba(41, 39, 39, 0.3);
  box-shadow: 0 5px 30px black;
}

.ft{
  padding: 30px;
}

.btn a {
  padding: 3px;
  margin: 30px 0px 40px 30px;
  border-style: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 550;
}
.formGroup{
  display: flex;
  justify-content: center;
  height: -100px;
}

.formGroup input{
  border: none;
  width: 75%;
  border-bottom: 2px solid white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: white;
}

input:focus {
  outline: none;
  border-bottom: 2px solid rgb(91, 243, 131);
  font-size: 17px;
  font-weight: bold;
  color: white;
}

::placeholder {
  color: white;
}
.checkBox{
  display: flex;
  justify-content: center;
  margin: 16px!important;
}
 
#checkbox{
  margin-right: 10px;
  height: 15px;
  width: 15px;
}
.text{
  color: white;
  font-size: 13px;
}
.btn2{
  padding: 10px;
  width: 150px;
  border-radius: 20px;
  background-color: rgb(10, 136, 43);
  border-style: none;
  color: white;
  font-weight: 600;
}
.btn2:hover{
  background-color: rgba(10, 136, 43, 0.5);
}
.btn button:hover{
  border-bottom: 2px solid rgb(91, 243, 131);
}
 
.login{
  display: none;
}

.login{
  margin-top: 40px;
}
.login .checkBox{
  margin-top: 30px !important;
}
a{
  text-decoration: none;
}
a:hover{
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
}

.greet {
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}